.placeholder-font::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: fantasy, sans-serif;
  opacity: 1; /* Firefox */
}

.placeholder-font:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: fantasy, sans-serif;
}

.placeholder-font::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: fantasy, sans-serif;
}
