body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to right, #278a48 0%, #2abea3 100%); */
}

body {
  -webkit-animation: bgcolorchange 8s infinite; /* Chrome, Safari, Opera */
  animation: 8s infinite bgcolorchange;
}
@keyframes bgcolorchange {
  0% {
    background-color: rgb(60, 60, 60);
  }
  50% {
    background-color: rgb(170, 170, 170);
  }
  100% {
    background-color: rgb(60, 60, 60);
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes bgcolorchange {
  0% {
    background: rgb(60, 60, 60);
  }
  50% {
    background: rgb(170, 170, 170);
  }
  100% {
    background: rgb(60, 60, 60);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
